.nav{
    background: #383858;
}

header {
    background: #383858;
}

.logo{
    display:flex;
    position: relative;
    justify-content:space-between;
    width: 150px;
    height: 150px;
}

img{
    width:200px; 
    height:200px
}

footer{
    background-color: rgba(0, 0, 0, 0.05);
}
