@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  font-family: Montserrat, sans-serif;
}

header{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(images/drupal-coder1.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: rgba(0,0,0,.8);
  background-size: 100%;
}

video{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header-background-video {
  position: absolute;
  z-index: -1;
  filter: blur(3px);
  overflow: hidden;
}

.overlay{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(images/drupal-coder1.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: rgba(0,0,0,.8);
  background-size: 100%;
}

.tariff-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 22px 20px;
  width: 220px;
  max-width: 100%;
  text-align: center;
  border: 2px solid #f14d34;
  border-radius: 5px;
  margin-bottom: 100px;
}

.supp {
  margin-bottom: 50px;
}

.parts-wrapper {
  border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 80px;
    height: 100%;
}

.upper-part {
  font-size: 48px;
  margin-top: -27px;
}

.lower-part {
  margin-top: -2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(255, 255, 255, .7);
}

.second-block {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
  position: relative;
}

header {
  font-weight: 700;
  height: 100%;
  padding: 30px 5px;
  color: white;
}

.header-upper-text {
  color: white;
}

.big {
  font-size: 25px;
  line-height: 1.2;
}

.small {
  font-size: 14px;
  margin-bottom: 50px;
}

#cup-image {
  vertical-align: baseline;
  position: absolute;
}

@media screen and (min-width: 800px) {
  header{
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(images/drupal-coder1.svg) no-repeat left top;
    background-color: rgba(0,0,0,.8);
    background-size: auto 100%;
  }
}