@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header-background-video {
  position: absolute;
  z-index: -1;
  filter: blur(3px);
  overflow: hidden;
}

.overlay {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(images/drupal-coder1.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: rgba(0, 0, 0, .8);
  background-size: 100%;
  z-index: -1;
}

.tariff-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 22px 20px;
  width: 230px;
  height: 60px;
  text-align: center;
  border: 2px solid #f14d34;
  border-radius: 5px;
  margin-bottom: 100px;
  line-height: 1;
}

.tariff-btn:hover {
  background-color: #f14d34;
}

.supp {
  margin-bottom: 30px;
}

.parts-wrapper {
  border-left: 3px solid #f14d34;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 80px;
  height: 100%;
}

.upper-part {
  font-size: 48px;
  margin-top: -27px;
}

.lower-part {
  margin-top: -2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(255, 255, 255, .7);
}

.second-block {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
  position: relative;
}

header {
  position: relative;
  font-weight: 700;
  height: 100%;
  padding: 30px 5px;
  color: white;
}

.header-upper-text {
  color: white;
}

.big {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
}

.small {
  font-size: 14px;
  margin-bottom: 50px;
}

#cup-image {
  vertical-align: baseline;
  position: absolute;
}

h2 {
  vertical-align: center;
  text-align: center;
}

.navbar-nav li a {
  padding: 8px 20px;
  border-bottom: 1px solid #312a2a;
}

.glowing-link {
  color: #f14d34;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.dropdown-menu {
  font-size: 12px;
  background-color: black;
  border-radius: 0;
}

.dropdown-item {
  color: white;
}

.navbar {
  z-index: 2;
  font-weight: 500;
  background-color: black;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header-logo {
  width: 156px;
  height: 31px;
}

.supp-menu {
  width: 100%;
}

.supp-logo {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .overlay {
    background-size: 50%;
  }

  .main-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar {
    border: none;
    background: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .header-logo {
    margin-left: 50px;
  }

  .header-title-div {
    text-align: left;
  }

  .nav-item {
    margin: 0 5px;
  }

  .navbar-nav li a {
    border: none;
  }

  .dropdown-menu {
    background-color: #f14d34;
  }

  .dropdown-item:hover {
    background-color: #ab1a0e;
    color: white;
  }

  .glowing-link {
    white-space: nowrap;
    border-bottom: 3px #f14d34 solid;
  }

  .big {
    font-size: 40px;
  }

  .small {
    font-size: 18px;;
  }

  .supp {
    margin-bottom: 80px;
  }
}